.main{
    text-align: center;
    color: white;
    
}
.img{
    background-image: url("pra.jpeg.png");
    background-size: cover;
    height: 100vh;
}
.button{
    height: 25px;
    width: 50px;
    border-radius: 5px;
    border-width: 0px;
    background-color: orchid;
    color: azure;
    text-align: center;
}
.h3{
    text-align: left;
    color: white;

}
.h6{
    text-decoration: underline;
    text-align: center;
    color: white;
}
.p{
    color:white;
    font-size: 15px;
    padding-right: 10px;
}