<html>
<head>
<link rel="stylesheet" href="/stylesheets/Scroll_To_Top_Button.css"/>
    <script src="/javascripts/Scroll_To_Top_Button.js"></script>
</head>
<body>
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<div class="scrolldown">
    Scroll Down
</div>
<div class="text">
    here is some text...<br>
    here is some text...<br>
    here is some text...<br>
    here is some text...<br>
    here is some text...<br>
</div>

</body>
</html>



