.head{
    color: blue;
    font-weight: bold;


}
h1
{
    font-family: "Roboto";
    font-size: 22px;color:
     grey;
    
}
#heading5
{
    font-size: 28px;
    font-style: italic;
    color: indigo;
}